/* RESET DEL PROYECTO:*/
 *{
    margin: 0px;
    padding: 0px;
    font-size: 6;
    font-family: "textos";}

/* TIPOGRAFÍAS PARA EL PROYECTO OBTENIDAS DESDE RECURSOS */
 @font-face {
        font-family: "titulos";
        src: url("../recursos/Favorit-RegularExtended.otf");
    }

@font-face {
    font-family: "textos";
    src: url("../recursos/Favorit-Light.otf");
}

/* GRID */

.grid__container {
    display: grid;
    grid-template-rows: 50px 3fr 60px;
    grid-template-areas: "header"
                        "main"
                        "footer";}
                        
/* HEADER GENERAL DEL PROYECTO */
header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        position: sticky;
        top: 0px;
        font-family: "light";}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

/* MENU/NAV BAR */

.menu {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    align-items: center;
    justify-content: flex-end;
    top: 0px;
    padding-right: 20px;}

.menu__logo {
    padding-left: 20px;}

.contenedor__logo {flex-grow: 1;}

.nav__sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 25px}


.title {
    padding-top: 20px;
    padding-left: 20px;}

a {
    font-family:"titulos";
    text-decoration: none;
    font-size: 11px;
    color:white}

li {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    transition: all 1s;}

li:hover {
    text-decoration: underline;
}

h1 {
    color:rgb(0, 0, 0);
    font-size: 36px;
    font-family: "titulos";
    text-align: left;
    }

.h1__portadas {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: "titulos";
    text-align: center;
}

/* ESTILOS DE TEXTOS */
h2 {
    font-size: 18px;
    font-family: "titulos";}

h3 {
    font-size: 12px;
    font-family: "titulos";
    padding-top: 10px;}

h4 {
    font-size: 14px;
    font-family: "textos";
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: left;}

/* COVER DE CADA UNA DE LAS PÁGINAS */

/* .cover__home {
    background-image: url("../recursos/test.png");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;} */

.cover__nosotros {
    background-image: url("../recursos/nosotros.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:  cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;}

.cover__portfolio {
    background-image: url("../recursos/test.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;}

.cover {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;}

.cover__text {
    text-align: left;}

.cover__header {
    text-align: left;}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
/* INDEX - ACERCA DE LA AGENCIA */

.info {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    padding-right: 30px;
    padding-left: 30px;
}

.info__portafolio {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.info__content {
    font-family: "textos";
    font-size: 14px;
    text-align: center;
    padding-top: 20;
    margin-top: 10px;
    padding: 5px;}

/* FORMULARIO DE CONTACTO */

.contact__subtitle {padding-left: 20px;}

.contacto__subtitle {text-align: left;}

.contact__form {
    display: flex;
    flex-direction: column;
/*     text-align: left;
    margin-left: 20px; */
    padding: 20px;
    margin-bottom: 20px;}


/* ESTILO PARA LISTA DE SERVICIOS */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__list {
                margin: 20px;
                padding: 20px;
                font-family: "titulos";
                border-bottom: .5px solid black; width: fit-content;
                transition: all .5s;}

.services__list:hover {
    transform: translate(20px);
}

/* ESTILO PARA BOTONES */

button {height:40px;
        color:#000000;
        background-color: #ffffff;
        border: 2px solid #000000;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: "titulos";
        transition: all .5s;}
        
button:hover {
    transform: scale(1.05);
    background-color: #000000;
    color: #ffffff;}

/* SECCIÓN NOSOTROS: */

.members {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    padding:10px;}

.team__employee {
    margin: 25px;
    border: .5px solid #000000;
    width:fit-content;
    transition: all 1s;}

.team__employee:hover {
    background-color: #000000;
    color: #ffffff;}

.employee__photo {
    width:300px;}

.nombre__empleado {
    padding: 10px;}

.employee__position {
    padding: 10px}

.calltoaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/* SECCIÓN PORTAFOLIO */

.portfolio {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    padding:10px;}

.project {
        margin: 25px;
        border: .5px solid #000000;
        width:fit-content;
        transition: all .5s;}

.project:hover {
    transform: scale(1.1);
}

.project__photo {width:400px;}

.project__name {padding: 10px;}    

.project__description {padding: 10px;}




/* FOOTER */

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    background-color: #000000;
    height: 100px;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;}

.social__media {
    flex-grow: 1;
    padding: 10px;
}

.footer__text {
    font-family: "textos";
    font-size: 12px;
    color: #ffffff}

.title {
    padding-left: 20px;}


/* MEDIDAS RELATIVAS
REM
EM
PORCENTAJES */

/* MOBILE */
@media (min-width: 320px) and (max-width:540px) {

    .cover__home {
        height: 300px;
    }

    .cover__portfolio {
        height: 250px;
    }

    .cover__nosotros {
        height: 250px;
    }

    .nav__sections {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-right: 25px;}
    
    h1 {
        font-size: 18px;}
    
    h2 {
        font-size: 13px;}
    
}

/* TABLET */
@media (min-width: 541px) and (max-width:720px) {

    .cover__home {
        height: 400px;
    }

    .cover__portfolio {
        height: 325px;
    }

    .cover__nosotros {
        height: 325px;
    }

}