
/* navbar BOOTSTRAP */

.navbar{
    &-toggler {
        border: none;
        border-radius: 0;
        outline-color: none;
        box-shadow: none;
    }
    &-toggler-icon {
        border: none;
        border-radius: 0;
        outline-color: none;
        box-shadow: none; 
    }
}